.background {
	background: radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
	background-color: #282828;
	background-size: 16px 16px;
}

.pac-container {
	background-color: #FFF !important;
	z-index: 20 !important;
	position: fixed !important;
	display: inline-block !important;
	float: left !important;
}

.modal {
	z-index: 20 !important;
}

.modal-backdrop {
	z-index: 10 !important;
}

.title {
	color: #FFF
}

/**Markers CSS**/
#map-canvas img {
	max-width: none !important;
}

.gm-style-iw {
	width: 350px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 10px 10px;
}

#iw-container {
	margin-bottom: 10px;
}

#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}

#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}

.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;
	border: 1px solid #48B5E9;
}

.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}

.iw-bottom-gradient {
	display: block;
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 100%);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 100%);
	position: absolute;
}

.actButtons {
	border-top: 1px solid #48B5E9;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 5px;
}

.content-wrapper,.right-side {
	min-height: 100%;
	background-color: #ecf0f5;
	z-index: 800;
}

.content-wrapper,.right-side,.main-footer {
	-webkit-transition: -webkit-transform .3s ease-in-out, margin .3s
		ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
	-o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
	transition: transform .3s ease-in-out, margin .3s ease-in-out;
	margin-left: 230px;
	z-index: 820;
}

.message-content {
	min-height: 250px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.box.box-primary {
	border-top-color: #3c8dbc;
}

.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-header {
	color: #444;
	display: block;
	padding: 10px;
	position: relative;
}

.box-header>.fa,.box-header>.glyphicon,.box-header>.ion,.box-header .box-title
	{
	display: inline-block;
	font-size: 18px;
	margin: 0;
	line-height: 1;
}

.box-header>.box-tools {
	position: absolute;
	right: 10px;
	top: 5px;
}

.pull-right {
	float: right !important;
}

.no-padding {
	padding: 0px !important;
}

.box-body {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
}

.mailbox-controls {
	padding: 5px;
}

.table-responsive {
	min-height: .01%;
	overflow-x: auto;
}

.mailbox-messages>.table {
	margin: 0;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.text-yellow {
	color: #f39c12 !important;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress-bar.active,.progress.active .progress-bar {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}